body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  align-self: flex-start;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}

input[type="text"],
input[type="number"] {
  padding: 10px;
  margin: 0px 10px 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 92%;
}

select {
  align-self: flex-start;
}

button {
  width: 100%;
  padding: 10px 20px;
  margin: 75px 0 5px;
  border: none;
  background-color: #0074d9;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

#message {
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}
